<template>
  <div class="<%= name %>">
    <h2><%= name %></h2>
  </div>
</template>

<script setup>
import { use<%= name %>Store } from './<%= lowerName %>Store.js'

const <%= lowerName %>Store = use<%= name %>Store()
</script>

<style lang="less" scoped>
.<%= name %>{
    background-color: red;
}
</style>